<div class="container">
  <h1>Welcome to Dummy Users!</h1>

  <form action="/secret" method="post">
    <input type="text" name="user[email]" placeholder="login email here">
    <input type="password" name="user[password]" placeholder="login password here">
    <input type="submit" value="submit">
  </form>

  <br><br><br><br><br><br>

  <form action="/new_user" method="post">
    <input type="text" name="user[name]" placeholder="signup name here">
    <input type="text" name="user[email]" placeholder="signup email here">
    <input type="password" name="user[password]" placeholder="signup password here">
    <input type="password" name="user[password_confirmation]" placeholder="signup password confirmation here">
    <input type="submit" value="submit">
  </form>


</div>
